.speaker{
    padding: 50px;
}
.list{
    height: 50px;
    overflow: auto;
    border: 1px solid black;
    width: 150px;
}
table ,td,th{
    border: 1px solid black;
}
.parent{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    border: 1px solid pink;
    border-radius: 5px;
    width: 200px;
}
button{
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}